    </div>
        <div id="footer">
            &copy; siriusimageboard, 2018<br />
            <div id="footer-menu">
                <a class="footer-menu-item">Contacts</a>
                <a class="footer-menu-item">FAQ</a>
                <a class="footer-menu-item">Report an error</a>
            </div>
        </div>
    </div>
</body>
</html>