<% include header.ejs %>
<h1>Topics</h1>
<div id="topics-list">
    <div class="topic">
        <div class="topic-block-detail blue-colored">timickb</div>
        <div class="topic-block-detail">13 Nov 2018</div>
        <div class="topic-block-detail">8 comments</div>
        <br />
        <a class="topic-title" href="/topic/1/">Test topic</a>
    </div>
    <div class="topic">
        <div class="topic-block-detail blue-colored">greenelephant</div>
        <div class="topic-block-detail">13 Nov 2018</div>
        <div class="topic-block-detail">2 comments</div>
        <br />
        <a class="topic-title" href="/topic/2/">Братишка, я тебе сладкий хлеб принес</a>
    </div>
</div>
<% include footer.ejs %>