<% include header.ejs %>
<h1>Signing in</h1>
<form method="post" id="signin">
    <input type="text" class="field" placeholder="Login" id="login" required /><br />
    <input type="password" class="field" placeholder="Password" id="password" required /><br />
    <input type="submit" value="Enter" class="button" id="signin-action"/>
</form>
<% include footer.ejs %>