<% include header.ejs %>
<h1>Signing up</h1>
<form method="post" name="signup">
    <input type="text" class="field" placeholder="Login" name="login" required /><br />
    <input type="text" class="field" placeholder="E-mail" name="email" required /><br />
    <input type="password" class="field" placeholder="Password" name="password" required /><br />
    <input type="password" class="field" placeholder="Retype password" name="repassword" required /><br />
    <input type="submit" value="Sign up" class="button" id="signin-action"/>
</form>
<% include footer.ejs %>