<% include header.ejs %>
<h1>Signing up</h1>
<form method="post" id="signup">
    <input type="text" class="field" placeholder="Login" id="login" required /><br />
    <input type="text" class="field" placeholder="E-mail" id="email" required /><br />
    <input type="password" class="field" placeholder="Password" id="password" required /><br />
    <input type="password" class="field" placeholder="Retype password" id="repassword" required /><br />
    <input type="submit" value="Sign up" class="button" id="signin-action"/>
</form>
<% include footer.ejs %>