<% include header.ejs %>
<h1>Test topic</h1>
<div class="topic-info">
    Author: timickb<br>
    Date: 13 Nov 2018<br>
</div>
<div id="topic-form">
    <form method="post">
        <textarea class="field" cols="60" rows="4" placeholder="Write a message">
        </textarea><br>
        <input type="submit" class="button" value="Send" />
    </form>
</div>
<% include footer.ejs %>