<% include header.ejs %>
<h1>Test topic</h1>
<div class="topic-info">
    Author: timickb<br>
    Date: 13 Nov 2018<br>
</div>
<div id="topic-form">
    <form method="post">
        <textarea class="field" cols="60" rows="4" placeholder="Write a message"></textarea><br>
        <input type="submit" class="button" value="Send" />
    </form>
</div>
<p>3 comments</p>
<div id="topic-comments">
    <div class="topic">
        <div class="topic-block-detail blue-colored">timickb</div>
        <div class="topic-block-detail">13 Nov 2018 10:21</div>
        <div class="topic-comment-text">
            This is my second message in this topic.
        </div>
    </div>
    <div class="topic">
        <div class="topic-block-detail blue-colored">timickb</div>
        <div class="topic-block-detail">13 Nov 2018 10:17</div>
        <div class="topic-comment-text">
            Test topic created. I can write comments here.
        </div>
    </div>
</div>
<% include footer.ejs %>