@import url('https://fonts.googleapis.com/css?family=Quicksand|Titillium+Web');

* {
    font-family: 'Titillium Web', 'Calibri Light', 'sans-serif';
    margin: 0;
    color: white;
}
body {
    background: rgb(40, 40, 40);
    font-size: 14pt;
}

#header {
    margin: 10px;
    padding: 10px;
    background: rgb(65, 65, 65);
    border-radius: 9px;
}

#content {
    margin: 10px;
    padding: 10px;
    background: rgb(65, 65, 65);
    border-radius: 9px;
}

#footer {
    margin: 10px;
    padding: 20px;
    background: rgb(65, 65, 65);
    border-radius: 9px;
}

a#logo {
    font-size: 28pt;
    display: inline-block;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}

#menu {
    display: inline-block;
    font-size: 18pt;
    padding-left: 7px;
    float: right;
}

a.menu-item {
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    margin: 7px;
    background: rgb(50, 50, 50);
    /*border-radius: 9px;*/
}

h1 {
    font-family: Calibri Light;
}

.field {
    font-family: 'Titillium Web';
    font-size: 14pt;
    padding: 10px;
    margin: 5px;
    background: rgb(230, 230, 230);
    border: none;
    border-radius: 9px;
    color: rgb(35, 35, 35);
}

.button {
    font-size: 14pt;
    padding: 10px;
    margin: 5px;
    background: rgb(50, 50, 50);
    color: white;
    border: none;
    border-radius: 9px;
}
.button:hover {
    background: deepskyblue;
}

.topic {
    background: rgb(50, 50, 50);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 9px;
}

.topic-block-detail {
    display: inline-block;
    background: rgb(60, 60, 60);
    padding: 5px;
}

.topic-info {
    background: rgb(50, 50, 50);
    padding: 10px;
    margin: 5px;
    border-radius: 9px;
}

.blue-colored {
    background: deepskyblue;
}

.topic-title {
    font-size: 22pt;
}
.topic-header {
    float: right;
    display: inline-block;
}

a.footer-menu-item {
    display: inline-block;
    color: deepskyblue;
}

textarea {
    width: 90%;
}