@import url('https://fonts.googleapis.com/css?family=Quicksand|Titillium+Web');

* {
    font-family: 'Titillium Web', 'Calibri Light', 'sans-serif';
    margin: 0;
    color: white;
}
body {
    background: rgb(40, 40, 40);
    font-size: 14pt;
}

#header {
    margin: 10px;
    padding: 10px;
    background: rgb(65, 65, 65);
    border-radius: 9px;
    white-space: nowrap;
    word-wrap: none;
}

#content {
    margin: 10px;
    padding: 10px;
    background: rgb(65, 65, 65);
    border-radius: 9px;
}

#footer {
    margin: 10px;
    padding: 20px;
    background: rgb(65, 65, 65);
    border-radius: 9px;
}

a#logo {
    font-size: 28pt;
    display: inline-block;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    color: rgb(50, 50, 50);
    background: rgb(170, 170, 170);
    border-radius: 10px;
}
a#logo:hover {
    background: white;
}

#menu {
    display: inline-block;
    font-size: 18pt;
    padding-left: 7px;
    float: right;
}

a.menu-item {
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    margin: 7px;
    background: rgb(50, 50, 50);
    white-space: nowrap;
    max-width: 170px;
    text-align: center;
}
a.menu-item:hover {
    background: deepskyblue;
}

h1 {
    font-family: Calibri Light;
}

.field {
    font-family: 'Titillium Web';
    font-size: 14pt;
    padding: 10px;
    margin: 5px;
    background: rgb(230, 230, 230);
    border: none;
    border-radius: 9px;
    color: rgb(35, 35, 35);
}

.button {
    font-size: 14pt;
    padding: 10px;
    margin: 5px;
    background: rgb(50, 50, 50);
    color: white;
    border: none;
    border-radius: 9px;
}
.button:hover {
    background: deepskyblue;
}

.topic {
    background: rgb(50, 50, 50);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 9px;
}

.topic-block-detail {
    display: inline-block;
    background: rgb(60, 60, 60);
    padding: 5px;
}

.topic-info {
    background: rgb(50, 50, 50);
    padding: 10px;
    margin: 5px;
    border-radius: 9px;
}

.blue-colored {
    background: deepskyblue;
}

.orange-colored {
    background: orange;
}

.topic-title {
    font-size: 22pt;
    text-decoration: none;
}
.topic-title:hover {
    color: deepskyblue;
}
.topic-header {
    float: right;
    display: inline-block;
}

a.footer-menu-item {
    display: inline-block;
    color: deepskyblue;
}

textarea {
    width: 90%;
}

.file-upload {
    position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
    overflow: hidden; /* Все что выходит за пределы - скрываем */
    width: 80px; /* Задаем ширину кнопки выбора файла */
    height: 20px; /* Задаем высоту кнопки выбора файла */
    background: rgb(50, 50, 50);
    border-radius: 9px;
    padding: 10px;
    color: #fff;
    text-align: center;
}
.file-upload:hover {
    background: deepskyblue;
}
.file-upload input[type="file"]{
   display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
    /* Растягиваем label на всю возможную площадь блока .file-upload */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}

#reg-status {
    background: deepskyblue;
    margin: 5px;
    padding: 5px;
    border-radius: 9px;
}

.line {
    display: inline-block;
}