{% include 'header.html' %}
<h1 class="line">Topics</h1> <button onclick="window.location.href='/create'" class="button line">Create topic</button>
<div id="topics-list">
    {% for topic in result.data %}
        <div class="topic">
            <div class="topic-block-detail blue-colored">{{ topic.authorLogin }}</div>
            <div class="topic-block-detail">{{ topic.creationTime }}</div>
            <div class="topic-block-detail">{{ topic.count }} comments</div>
            <div class="topic-block-detail topic-rating blue-colored">☆{{ topic.rating }}</div>
            <br />
            <a class="topic-title" href="/topic/{{ topic.id }}/">{{ topic.title }}</a>
        </div>
    {% endfor %}
</div>
{% include 'footer.html' %}