{% include 'header.html' %}
<h1>Signing up</h1>
{% if result.status != -1 %}
    <div id="reg-status">
        {{ result.status }}
    </div>
{% endif %}
<form method="post" name="signup">
    <input type="text" class="field" placeholder="Login" name="login" required /><br />
    <input type="text" class="field" placeholder="E-mail" name="email" required /><br />
    <input type="password" class="field" placeholder="Password" name="password" required /><br />
    <input type="password" class="field" placeholder="Retype password" name="rpassword" required /><br />
    <input type="submit" value="Sign up" class="button" id="signin-action"/>
</form>
{% include 'footer.html' %}