{% include 'header.html' %}
<h1>Account settings</h1>

<p>Login: </p>
<input type="text" name="change-login" value="timickb" class="field" /><br>

<p>Password: </p>
<input type="password" name="change-password-old" placeholder="Current password" class="field" /><br>
<input type="password" name="change-password-new" placeholder="New password" class="field" /><br>
<input type="password" name="change-password-rnew" placeholder="Retype new password" class="field" /><br>

<p>E-mail:</p>
<input type="password" name="change-email-old" placeholder="Current email" class="field" /><br>
<input type="password" name="change-email-new" placeholder="New email" class="field" /><br>
<input type="password" name="change-email-rnew" placeholder="Retype new email" class="field" /><br>

<input type="submit" name="change-settings" value="Save changes" class="button" />
{% include 'footer.html' %}


