{% include 'header.html' %}
<h1 id="topic-header">{{ data[0].title }}</h1>
<div class="topic-info">
    Author: {{ data[0].authorLogin }}<br>
    Date: {{ data[0].creationTime }}<br>
    Description: {{ data[0].description }}<br>
</div>
<div id="topic-form">
    <form method="post">
        <textarea class="field" cols="20" rows="4" placeholder="Write a message" name="text"></textarea><br>
        <div class="file-upload">
            <label>
                 <input type="file" name="file">
                 <span>Choose file</span>
            </label>
        </div><br>
        <input type="submit" class="button" value="Send" />
    </form>
</div>
<p>3 comments</p>
<div id="topic-comments">
    {% for message in data[1] %}
        <div class="topic">
            <div class="topic-block-detail blue-colored">{{ message.authorLogin }}</div>
            <div class="topic-block-detail">{{ message.creationTime }}</div>
            <div class="topic-comment-text">
                {{ message.text }}
            </div>
        </div>
    {% endfor %}
    
</div>
{% include 'footer.html' %}