{% include 'header.html' %}
<h1 id="topic-header">{{ result.data.info.title }}</h1>
<div class="topic-info">
    Author: {{ result.data.info.authorLogin }}<br>
    Date: {{ result.data.info.creationTime }}<br>
    Description: {{ result.data.info.description }}<br>
</div>
<div id="topic-form">
    <form method="post" enctype="multipart/form-data">
        <textarea class="field" cols="20" rows="4" placeholder="Write a message" name="text"></textarea><br>
        <div class="file-upload">
            <label>
                 <input type="file" name="file">
                 <span>Choose file</span>
            </label>
        </div><br>
        <input type="submit" class="button" value="Send" />
    </form>
</div>
<p>3 comments</p>
<div id="topic-comments">
    {% for message in result.data.messages %}
        <div class="topic">
            <div class="topic-block-detail blue-colored">{{ message.authorLogin }}</div>
            <div class="topic-block-detail">{{ message.creationTime }}</div>
            <div class="topic-comment-text">
                {{ message.text }}
            </div>
        </div>
    {% endfor %}
    
</div>
{% include 'footer.html' %}